<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %black(%d{ISO8601}) %highlight(%-5level) %blue(%C{1.}): %msg%n%throwable
            </Pattern>
        </layout>
    </appender>

    <appender name="File" class="ch.qos.logback.core.FileAppender">
        <file>consumer.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{ISO8601} %-5level: %msg%n</pattern>
        </encoder>
    </appender>

    <!-- LOG everything at INFO level -->
    <root level="info">
        <appender-ref ref="Console" />
    </root>
    <logger name="com.gremlin.kafkaalfidemo.Consumer" level="info">
        <appender-ref ref="File" />
    </logger>

</configuration>